.auth-container {
    max-width: 350px;
    margin: auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: var(--profile-bg);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: var(--button-bg);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: var(--button-hover);
}

.auth-link {
    color: var(--link-hover);
    cursor: pointer;
}

.auth-link:hover {
    text-decoration: underline;
}
