button {

    padding: 10px 15px;
    border: none;
    
    border-radius:5px;
    font-size: 16px;
    transition: transform 0.2s ease;
}

button:hover {
    transform: scale(1.05);
}
button:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}