:root {
    --bg-color: white;
    --text-color: black;
}

.dark-theme {
    --bg-color: #1e1e1e;
    --text-color: white;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}